main {
  text-align: center;
  padding-top: 3vw;
  .main_title {
    h1 {
      font-size: 4vw;
    }
  }
  .season_list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .index {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.3vw;
      .content_0 {
        width: 10%;
      }
      .content_1 {
        width: 10%;
      }
      .content_2 {
        width: 15%;
      }
      .content_3 {
        width: 20%;
      }
      .content_4 {
        width: 45%;
      }
    }
    .contents {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.5vw;
      padding: 1vw 0;
      border-bottom: dashed 2px  rgb(209, 209, 209);
      .content_0 {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        font-size: 1.2vw;
        a {
          display: inline-block;
          background-color: #00A7EA;
          color: #fff;
          font-size: 1vw;
          padding: 0.7vw 1vw;
          border: solid 1px;
          border-radius: 4px;
        }
      }
      .content_1 {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
      }
      .content_2 {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
      }
      .content_3 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
      }
      .content_4 {
        width: 45%;
        border-top: solid 1px;
        border-right: solid 1px;
        .mini_content {
          display: flex;
          justify-content: center;
          border-bottom: solid 1px;
          padding: 0.5vw 0;
          .mini_content_1 {
            width: 10%;
            border-right: solid 1px;
          }
          .mini_content_2 {
            width: 30%;
            border-right: solid 1px;
          }
          .mini_content_3 {
            width: 43%;
            border-right: solid 1px;
          }
          .mini_content_4 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17%;
            font-size: 1vw;
            color: blue;
            a {
              padding: 2px 4px;
              border: solid 1px blue;
              border-radius: 3px;
            }
          }
          .mini_content_NULL {
            color: red;
            opacity: 0.3;
          }
        }
      }
    }
  }
  .title_wrapper {
      width: 100%;
      text-align: right;
      padding-bottom: 2vw;
    a {
      display: inline-block;
      background-color: #00A7EA;
      color: #fff;
      margin-top: 1vh;
      font-size: 1vw;
      padding: 0.7vw 2vw;
      border: solid 1px;
      border-radius: 4px;
    }
  }
}