.main_2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 2vw;
  .main_title {
    h3 {
      font-size: 2vw;
    }
    h4 {
      font-size: 1.1vw;
      margin-left: 1vw;
      margin-top: 1vw;
    }
  }
  .categories {
    .category {
      display: flex;
      margin: 0.2vw 0;
      p {
        font-size: 1vw;
        margin-right: 1vw;
      }
    }
  }
  .select_wrapper {
    display: flex;
    align-items: center;
    h4 {
      width: 15vw;
    }
    select {
      font-size: 1.5vw;
      width: 17vw;
      padding: 3px 5px;
      margin: 0.5vw 0;
      border: solid 1px;
      text-align: center;
    }
  }
  .evaluation_table {
    width: 100%;
    text-align: center;
    margin: 3vw auto;
    .border {
      background-color: rgb(226, 226, 226);
      border-radius: 5px;
    }
    .color {
      color: red;
    }
    .index {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1vw 0;
      align-items: center;
      p {
        font-size: 1.3vw;
      }
      .content_index_3 {
        width: 10%;
      }
      .content_index_4 {
        width: 10%;
      }
      .content_index_5 {
        width: 10%;
      }
      .content_index_6 {
        width: 10%;
      }
      .content_index_7 {
        width: 10%;
      }
      .content_index_8 {
        width: 10%;
      }
      .content_index_9 {
        width: 40%;
      }
    }
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6vw 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.5);
   p {
        font-size: 1.4vw;
      }
      .row_3 {
        width: 10%;
      }
      .row_4 {
        width: 10%;
      }
      .row_5 {
        width: 10%;
      }
      .row_6 {
        width: 10%;
      }
      .row_7 {
        width: 10%;
      }
      .row_8 {
        width: 10%;
      }
      .row_9 {
        width: 40%;
        text-align: left;
        padding-left: 5px;
      }
  }
  .title_wrapper {
    width: 100%;
    text-align: right;
    a {
      display: inline-block;
      background-color: #00A7EA;
      color: #fff;
      font-size: 1vw;
      padding: 0.7vw 2vw;
      border: solid 1px;
      border-radius: 4px;
    }
  }

  #index {
    display: none;
  }

  #presenter {
    display: none;
  }
}