.main_2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 2vw;
  .main_title {
    h3 {
      font-size: 2vw;
    }
    h4 {
      font-size: 1.1vw;
      margin-left: 1vw;
      margin-top: 1vw;
    }
  }.categories {
    .category {
      display: flex;
      margin: 0.2vw 0;
      p {
        font-size: 1vw;
        margin-right: 1vw;
      }
    }
  }
  .evaluation_table {
    width: 100%;
    text-align: center;
    margin: 3vw auto;
    .border {
      background-color: rgb(226, 226, 226);
      border-radius: 5px;
    }
    .color {
      color: red;
    }
    .index {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1vw 0;
      p {
        font-size: 1vw;
      }
      .content_index_1 {
        width: 5%;
      }
      .content_index_2 {
        width: 10%;
      }
      .content_index_2_a {
        width: 10%;
      }
      .content_index_3 {
        width: 5%;
      }
      .content_index_4 {
        width: 5%;
      }
      .content_index_5 {
        width: 5%;
      }
      .content_index_6 {
        width: 5%;
      }
      .content_index_7 {
        width: 5%;
      }
      .content_index_8 {
        width: 10%;
      }
      .content_index_9 {
        width: 40%;
      }
    }
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.6vw 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.5);
   p {
        font-size: 1.1vw;
      }
      .row_1 {
        width: 5%;
      }
      .row_2 {
        width: 10%;
      }
      .row_2_a {
        width: 10%;
      }
      .row_3 {
        width: 5%;
      }
      .row_4 {
        width: 5%;
      }
      .row_5 {
        width: 5%;
      }
      .row_6 {
        width: 5%;
      }
      .row_7 {
        width: 5%;
      }
      .row_8 {
        width: 10%;
      }
      .row_9 {
        width: 40%;
        text-align: left;
      }
  }
  .title_wrapper {
    width: 100%;
    text-align: right;
    a {
      display: inline-block;
      background-color: #00A7EA;
      color: #fff;
      font-size: 1vw;
      padding: 0.7vw 2vw;
      border: solid 1px;
      border-radius: 4px;
    }
  }
  #js-pagetop {
    position: fixed;
    width: 5vw;
    height: 5vw;
    border-radius: 8px;
    background: #00A7EA;
    color: #fff;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
  }
  
  #js-pagetop span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}