main {
  padding-top: 3vw;
}

main .main_title {
  padding-bottom: 3vw;
}

main .main_title h1 {
  font-size: 3vw;
}

main .select_wrapper {
  padding-bottom: 0.3vw;
  width: 100%;
  border-bottom: solid 1px;
  margin-bottom: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .select_wrapper .select_container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .select_wrapper .select_container button {
  width: 100%;
  text-align: center;
  background-color: #00A7EA;
  color: #fff;
  font-size: 1.5vw;
  padding: 0.7vw 2vw;
  border: solid 1px;
  border-radius: 4px;
}

main .select_wrapper .title_wrapper a {
  display: inline-block;
  background-color: #00A7EA;
  color: #fff;
  font-size: 1vw;
  padding: 0.7vw 2vw;
  border: solid 1px;
  border-radius: 4px;
}

main .ranking_table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

main .ranking_table .border {
  background-color: #e2e2e2;
  border-radius: 5px;
}

main .ranking_table .color {
  color: red;
}

main .ranking_table .index {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vw 0;
}

main .ranking_table .index p {
  font-size: 1.5vw;
}

main .ranking_table .index .content_index_1 {
  width: 12%;
}

main .ranking_table .index .content_index_2 {
  width: 12%;
}

main .ranking_table .index .content_index_3 {
  width: 26%;
}

main .ranking_table .index .content_index_4 {
  width: 15%;
}

main .ranking_table .index .content_index_5 {
  width: 25%;
}

main .ranking_table .index .content_index_6 {
  width: 20%;
}

main .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  padding: 1vw 0;
}

main .row p {
  font-size: 1.9vw;
}

main .row .row_1 {
  width: 12%;
}

main .row .row_2 {
  width: 12%;
}

main .row .row_3 {
  width: 26%;
}

main .row .row_4 {
  width: 15%;
}

main .row .row_5 {
  width: 25%;
}

main .row .row_6 {
  width: 20%;
}

main .season_list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

main .season_list .index {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3vw;
}

main .season_list .index .content_0 {
  width: 10%;
  padding: 0.5vw 0;
}

main .season_list .index .content_1 {
  width: 20%;
  padding: 0.5vw 0;
}

main .season_list .index .content_2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .season_list .index .content_2 .mini_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5vw 0;
}

main .season_list .index .content_2 .mini_content .mini_content_1 {
  width: 20%;
}

main .season_list .index .content_2 .mini_content .mini_content_2 {
  width: 20%;
}

main .season_list .index .content_2 .mini_content .mini_content_3 {
  width: 35%;
}

main .season_list .index .content_2 .mini_content .mini_content_4 {
  width: 25%;
}

main .season_list .contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
  padding: 1vw 0;
  border-bottom: dashed 2px #d1d1d1;
}

main .season_list .contents .content_0 {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px;
  font-size: 1.2vw;
}

main .season_list .contents .content_0 a {
  display: inline-block;
  background-color: #00A7EA;
  color: #fff;
  font-size: 1vw;
  padding: 0.7vw 1vw;
  border: solid 1px;
  border-radius: 4px;
}

main .season_list .contents .content_1 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

main .season_list .contents .content_2 {
  width: 70%;
  border-top: solid 1px;
  border-right: solid 1px;
}

main .season_list .contents .content_2 .mini_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px;
  padding: 0.5vw 0;
}

main .season_list .contents .content_2 .mini_content .mini_content_1 {
  width: 20%;
  border-right: solid 1px;
}

main .season_list .contents .content_2 .mini_content .mini_content_2 {
  width: 20%;
  border-right: solid 1px;
}

main .season_list .contents .content_2 .mini_content .mini_content_3 {
  width: 35%;
  border-right: solid 1px;
}

main .season_list .contents .content_2 .mini_content .mini_content_4 {
  width: 25%;
}

main .ranking_table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

main .ranking_table .border {
  background-color: #e2e2e2;
  border-radius: 5px;
}

main .ranking_table .index {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2vw 0;
}

main .ranking_table .index p {
  font-size: 2vw;
}

main .ranking_table .index .content_index_1 {
  width: 30%;
}

main .ranking_table .index .content_index_2 {
  width: 30%;
}

main .ranking_table .index .content_index_3 {
  width: 60%;
}
/*# sourceMappingURL=total_ranking.css.map */